# Adi Prasetyo's snippets
# brutalcrozt.github.io
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'youtube image preview':
    'prefix': 'ytp'
    'body': """${2:Video title / name}<br>
      [![](https://img.youtube.com/vi/${3:video_id}/${4:0}.jpg)]
      (https://www.youtube.com/watch?v=$3)"""
  'youtube image preview with numbering':
    'prefix': 'ytpn'
    'body': """${1:1}. ${2:Video title / name}<br>
      [![](https://img.youtube.com/vi/${3:video_id}/${4:0}.jpg)]
      (https://www.youtube.com/watch?v=$3)"""

'.source.md':
  'note line separator 95 charlenght':
    'prefix': 'sprtr'
    'body': """##############################################################################################"""
